<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sh1457.test.com.grand">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewGestureActivity"
            android:label="@string/title_activity_gesture_view"
            android:parentActivityName=".MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GrandActivity"
            android:label="@string/title_activity_grand"
            android:parentActivityName=".MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ViewActionActivity"
            android:label="@string/title_activity_action_view"
            android:parentActivityName=".MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddGestureActivity"
            android:label="@string/title_activity_gesture_add"
            android:parentActivityName=".ViewGestureActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewGestureActivity" />
        </activity>
        <activity
            android:name=".AddActionActivity"
            android:label="@string/title_activity_action_add"
            android:parentActivityName=".ViewActionActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewActionActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>